<footer>
    <div class="socialmedia">
        <a href="https://www.linkedin.com/in/sidharth-surya/"><img class="scl" src="/img/linkedin.png"></a>
        <a href="https://github.com/imsidharthsurya"><img class="scl" src="/img/github.png"></a>
        <a href="https://imsidharthsurya.github.io/myweb/"><img class="scl" src="/img/www.png"></a>
        <a href="https://twitter.com/imsidharthsurya"><img class="scl" src="/img/twitter.png"></a>
    </div>
    <p>Created by: {{creator}}</p>
</footer>
